@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F6F6F6;
    --foreground: #111111;

    --card: #F6F6F6;
    --card-foreground: #111111;

    --popover: #F6F6F6;
    --popover-foreground: #111111;

    --primary: #113E21;
    --primary-foreground: #F6F6F6;

    --secondary: #2F2F2F;
    --secondary-foreground: #113E21;

    --muted: #2F2F2F;
    --muted-foreground: #111111;

    --accent: #FFCB74;
    --accent-foreground: #113E21;

    --destructive: #FF0000; /* Kept as is, adjust as needed */
    --destructive-foreground: #F6F6F6;

    --border: #2F2F2F;
    --input: #2F2F2F;
    --ring: #111111;

    --radius: 0.5rem;
  }

  .dark {
    --background: #111111;
    --foreground: #F6F6F6;

    --card: #111111;
    --card-foreground: #F6F6F6;

    --popover: #111111;
    --popover-foreground: #F6F6F6;

    --primary: #F6F6F6;
    --primary-foreground: #113E21;

    --secondary: #111111;
    --secondary-foreground: #F6F6F6;

    --muted: #111111;
    --muted-foreground: #2F2F2F;

    --accent: #111111;
    --accent-foreground: #FFCB74;

    --destructive: #FF0000; /* Kept as is, adjust as needed */
    --destructive-foreground: #F6F6F6;

    --border: #111111;
    --input: #111111;
    --ring: #2F2F2F;
  }
}

@layer base {
  html, body {
    @apply h-full w-full overflow-hidden;
  }

  main {
    @apply h-full w-full overflow-auto snap-y snap-mandatory duration-700;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* Add transition for smoother scrolling */
    transition: scroll-snap-type 0.3s ease-in-out;
  }

  * {
    @apply p-0 m-0 box-border;
    font-family: "DM Sans", sans-serif;
  }

  section {
    @apply h-screen snap-center overflow-hidden;
    scroll-snap-align: start;
    /* Add transition for smoother snapping */
    transition: scroll-snap-align 0.3s ease-in-out;
  }
}

