@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F6F6F6;
    --foreground: #111111;

    --card: #F6F6F6;
    --card-foreground: #111111;

    --popover: #F6F6F6;
    --popover-foreground: #111111;

    --primary: #113E21;
    --primary-foreground: #F6F6F6;

    --secondary: #2F2F2F;
    --secondary-foreground: #113E21;

    --muted: #2F2F2F;
    --muted-foreground: #111111;

    --accent: #FFCB74;
    --accent-foreground: #113E21;

    --destructive: #FF0000; /* Kept as is, adjust as needed */
    --destructive-foreground: #F6F6F6;

    --border: #2F2F2F;
    --input: #2F2F2F;
    --ring: #111111;

    --radius: 0.5rem;
  }

  .dark {
    --background: #111111;
    --foreground: #F6F6F6;

    --card: #111111;
    --card-foreground: #F6F6F6;

    --popover: #111111;
    --popover-foreground: #F6F6F6;

    --primary: #F6F6F6;
    --primary-foreground: #113E21;

    --secondary: #111111;
    --secondary-foreground: #F6F6F6;

    --muted: #111111;
    --muted-foreground: #2F2F2F;

    --accent: #111111;
    --accent-foreground: #FFCB74;

    --destructive: #FF0000; /* Kept as is, adjust as needed */
    --destructive-foreground: #F6F6F6;

    --border: #111111;
    --input: #111111;
    --ring: #2F2F2F;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
