
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #f6f6f6;
    --foreground: #111111;

    --card: #f6f6f6;
    --card-foreground: #111111;

    --popover: #f6f6f6;
    --popover-foreground: #111111;

    --primary: #f6f6f6;
    --primary-foreground: #f6f6f6;

    --secondary: #f6f6f6;
    --secondary-foreground: #2f2f2f;

    --muted: #2f2f2f;
    --muted-foreground: #111111;

    --accent: #113e21;
    --accent-foreground: #ffcb74;

    --destructive: #ff0000; /* Kept as is, adjust as needed */
    --destructive-foreground: #f6f6f6;

    --border: #2f2f2f;
    --input: #2f2f2f;
    --ring: #111111;

    --radius: 0.5rem;
  }

  .dark {
    --background: #111111;
    --foreground: #f6f6f6;

    --card: #111111;
    --card-foreground: #f6f6f6;

    --popover: #111111;
    --popover-foreground: #f6f6f6;

    --primary: #f6f6f6;
    --primary-foreground: #113e21;

    --secondary: #111111;
    --secondary-foreground: #f6f6f6;

    --muted: #111111;
    --muted-foreground: #2f2f2f;

    --accent: #ffcb74;
    --accent-foreground: #113e21;

    --destructive: #ff0000; /* Kept as is, adjust as needed */
    --destructive-foreground: #f6f6f6;

    --border: #111111;
    --input: #111111;
    --ring: #2f2f2f;
  }
}

@layer base {
  html,
  body,
  div,
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  /* Reset some browser defaults */
  html,
  body {
    height: 100%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: scroll-snap-type 0.7s ease-in-out;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  main {
    height: 100%;
    scroll-snap-type: y mandatory;
    transition: scroll-snap-type 0.3s ease-in-out;
  }

  section {
    height: 100vh;
    width: 100vw; /* Added */
    scroll-snap-align: start; /* Modified from start to center */
    overflow: hidden; /* Added */
    transition: scroll-snap-align 0.3s ease-in-out;
  }
}
